body {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown {
    padding: 10px;
}

.options {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e7d8d8;
}

.options img {
    width: 50px;
    height: auto;
}

.title {
    text-align: center;
    padding-top: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 15px; 
    padding: 20px;
}

.card {
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.img-title {
    text-align: center;
}

.carousel {
    margin: 0 auto;
    width: 80%;
}

.carousel-container {
    display: flex;
    align-items: center;
}

.carousel img {
    max-width: 100%;
    height: auto;
}

.accordion {
    margin: 20px auto;
    max-width: 800px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f4f4f4; 
}

.form {
    border: 1px solid black;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.header {
    text-align: center;
}

.header img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons button {
    background-color: darkseagreen;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: rgb(107, 137, 107);
}

.back .button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back .button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 10px;
    }

    .carousel {
        width: 100%;
    }

    .form {
        width: 90%;
        padding: 10px;
    }

    .buttons button {
        width: 100%;
        padding: 10px;
    }

    .options img {
        width: 40px;
    }

    .title {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .options img {
        width: 30px;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons button {
        width: 100%;
        margin-bottom: 10px;
    }

    .title {
        font-size: 1.2rem;
    }
}